.profile-page-component-wrapper .header {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}
.profile-page-component-wrapper header .preferences-button {
    position: absolute;
    right: 0;
    top: 0;
}
.profile-page-component-wrapper .profile-section {
    padding: 56px 0px 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-page-component-wrapper .profile-section .avatar {
    height: 200px;
    width: 200px;
}
.profile-page-component-wrapper .reveal-section {
    margin-bottom: 32px;
}
.profile-page-component-wrapper .matches-section {
    margin-top: 32px;
    padding: 0px 0px 56px 0px;
}
.profile-page-component-wrapper .matches-section .reveal-time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}