.match-component-wrapper {
    height: 100%;
}
.match-component-wrapper > header {
    height: 120px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 32px;
}
.match-component-wrapper > main {
    height: calc(100% - 120px);
    padding-top: 50px;
    position: relative;
}
.match-component-wrapper > main .tabs {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}