.chat-component-wrapper {
    height: 100%;
    position: relative;
}
.chat-component-wrapper .messages-section {
    padding: 32px 32px 70px 32px;
    height: 100%;
    width: 100%;
    /* Chat stuff */
    /* font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal; */
    margin: 0px auto;
    /* display: -webkit-box; */
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    flex-direction: column;
    overflow-y: scroll;
}
.chat-component-wrapper .actions-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat-component-wrapper .actions-section .text-field {
    padding: 0px 24px 0px 24px;
}