.matches-list-component-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.matches-list-component-wrapper .matchmaking-button-wrapper {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matches-list-component-wrapper .match-wrapper {
    height: 90px;
    width: 100%;
}
.matches-list-component-wrapper .match-wrapper .avatar-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matches-list-component-wrapper .match-wrapper .avatar-wrapper .avatar{
    height: 50px;
    width: 50px;
}
.matches-list-component-wrapper .match-wrapper > section {
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
}
.matches-list-component-wrapper .empty-chats-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}