.matches-list-component-wrapper {
    height: 100%;
    overflow-y: scroll;
}
.matches-list-component-wrapper .match-wrapper {
    height: 80px;
    width: 100%;
}
.matches-list-component-wrapper .match-wrapper .avatar-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matches-list-component-wrapper .match-wrapper .avatar-wrapper .avatar{
    height: 50px;
    width: 50px;
}
.matches-list-component-wrapper .match-wrapper section {
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
}
.matches-list-component-wrapper .empty-matches-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}