.profile-picture-component-wrapper {
    padding: 16px;
}
.profile-picture-component-wrapper > div {
    position: relative;
    margin: auto;
    /* Decide on image dimensions here */
    width: 300px;
    height: 300px;
}
.profile-picture-component-wrapper div .edit-button{
    opacity: 0.95;
    position: absolute;
    background-color: ghostwhite;
    top: 0px;
    right: 0px;
}
.profile-picture-component-wrapper > div > img {
    width: 100%;
    height: 100%;
}
.profile-picture-component-wrapper > div .avatar {
    width: 100%;
    height: 100%;
}
.profile-picture-component-wrapper > div .fallback-icon {
    width: 100%;
    height: 100%;
}