.nav-wrapper {
    background-color: white;
    height: 120px;
    position: sticky;
    z-index: 99;
    top: 0px;
    display: flex;
    align-items: center;
}
.nav-wrapper .title-section {
    width: 300px;
}