.login-page-component-wrapper {
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-page-component-wrapper .login-section {
    width: 100%;
    max-width: 400px;
}
.login-page-component-wrapper .button {
    width: 100%;
    height: 50px;
    margin: 24px auto 24px auto;
    display: block;   
}
.login-page-component-wrapper .button.google {
    
}
.login-page-component-wrapper .button.apple {
    
}
.login-page-component-wrapper .form-section {
    width: 100%;
    max-width: 400px;
}
.login-page-component-wrapper .form-section .email-field{
    margin: 24px auto 0px auto;
}
.login-page-component-wrapper .form-section .password-field{
    margin: 24px auto 0px auto;
}
.login-page-component-wrapper .button.email {
        
}