.user-profile-component-wrapper {
    height: 100%;
}
.user-profile-component-wrapper > header {
    height: 120px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 32px;
}
.user-profile-component-wrapper > header .preferences-button {
    position: absolute;
    right: 20px;
}
.user-profile-component-wrapper > main{
    height: 100%;
    padding: 64px 32px 64px 32px;
    overflow-y: scroll;
}
.user-profile-component-wrapper > main .main-profile-section {
    margin-bottom: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-profile-component-wrapper > main .name {
    padding: 16px;

}
.user-profile-component-wrapper > main .reveal-section {
    margin-bottom: 32px;
}
.user-profile-component-wrapper > main .pictures-section {
    margin-top: 32px;
    padding: 0px 0px 80px 0px;
}
.user-profile-component-wrapper > main .pictures-section .reveal-time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}