.home-page-component-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}
.home-page-component-wrapper > aside {
    min-width: 400px;
}
.home-page-component-wrapper > main {
    flex-grow: 1;
}